---
import MainLayout from "../layouts/mainLayout.astro";
---

<MainLayout 
title={"Dylan Mwakasekele's About Section"} 
seoTitle={"Dylan Mwakasekele, Software Engineer Online Portfolio"} 
seoDescription={"2nd Year BSc Computing Science Student at the University of Dundee"}>

<div class="w-8/12 md:w-6/12 mx-auto text-center">
    <h1 class="text-5xl md:text-6xl">About</h1>
    <p class="mt-6">This site is where I plan to share projects I've done and other accomplishments. 
        Aiming to start persoanl projects in graphics programing soon. I'm particularly drawn to how graphics programming powers everything from video games to simulations. 
        While it's not a focus in my current curriculum, I'm keen to explore it</p>
    <p class="mt-6">Links to external sites and CV</p>
    <p class="text-4xl md:text-5xl">
        <a href="https://www.linkedin.com/in/dylanmwakasekele/"><i class="fa-brands fa-linkedin"></i></a> 
        <a href="https://github.com/Mwaka0"><i class="fa-brands fa-github"></i></a>
        <a href="mailto:dylanmwakasekele@gmail.com"><i class="fa-solid fa-envelope"></i></a>
        <a href="https://filedn.eu/luG2phaW5iCRc0SAq2iWSAm/Dylanmwakasekele.com/DylanMwakasekeleCV.pdf" download><i class="fa-solid fa-file-pdf"></i></a>
    </p>
</div>

<div id="typed-strings">
    <p>This website was made using AstroJS! 🚀</p>
</div>

<div class="text-center mt-6"><span id="typed"></span></div>
</MainLayout>

<script src="https://kit.fontawesome.com/c0875de0ad.js" crossorigin="anonymous"></script>

<script>
    import Typed from "typed.js"
    var typed = new Typed('#typed', {
        stringsElement: '#typed-strings',
        typeSpeed: 80,
        loop: false
        });  
</script>
