---
import MainLayout from "../layouts/mainLayout.astro";
---

<MainLayout 
title={"Dylan Mwakasekele"} 
seoTitle={"Dylan Mwakasekele, Software Engineer Online Portfolio"} 
seoDescription={"2nd Year BSc Computing Science Student at the University of Dundee"}>

<div class="w-8/12 md:w-6/12 mx-auto">
    <h1 class="text-5xl md:text-6xl text-center">Hey, I'm Dylan Mwakasekele 😎</h1>
</div>

<div id="typed-strings">
    <p>I am a 2nd year <strong>BSc Computer Science</strong> Student</p>
    <p>Currently studying at the <strong>University of Dundee</strong></p>
</div>

<div class="text-center mt-6"><span id="typed"></span></div>
</MainLayout>

<script>
    import Typed from "typed.js"
    var typed = new Typed('#typed', {
        stringsElement: '#typed-strings',
        typeSpeed: 50,
        loop: true
        });  
</script>

