---
import MainLayout from "../layouts/mainLayout.astro";
---

<MainLayout 
title={"Dylan Mwakasekele"} 
seoTitle={"Dylan Mwakasekele, Software Engineer Online Portfolio"} 
seoDescription={"2nd Year BSc Computing Science Student at the University of Dundee"}>

<div class="w-8/12 md:w-6/12 mx-auto text-center">
    <h1 class="text-5xl md:text-6xl">Hi, I'm Dylan Mwakasekele</h1>

    <p class="mt-6">I am a 2nd year <strong>BSc Computer Science</strong> Student
    Currently studying at the <strong>University of Dundee.</strong>
    This site is where I plan to share projects i've done and other accomplishments.</p>
</div>
</MainLayout>
