---
import MainLayout from "../layouts/mainLayout.astro";
---

<MainLayout 
title={"Dylan Mwakasekele's Projects"} 
seoTitle={"Projects with c, c++,java, python"} 
seoDescription={"2nd Year BSc Computing Science Student at the University of Dundee. Projects will be about graphics programming mainly"}>

<div class="w-8/12 lg:w-6/12 mx-auto">
    <h1 class="text-5xl my-3 text-center">Projects</h1>
    <div class="flex justify-center">
        <div class="grid md:grid-cols-2 gap-4">
            <a href="/projects/proj1"><img src="/images/proj1.png" class="rounded" width="300px" height="300px"/></a>
            <a href="/projects/proj2"><img src="/images/proj2.png" class="rounded" width="300px" height="300px"/></a>
            <a href="/projects/proj3"><img src="/images/proj3.png" class="rounded" width="300px" height="300px"/></a>
            <a href="/projects/proj4"><img src="/images/proj4.png" class="rounded" width="300px" height="300px"/></a>
        </div>
    </div>
</div>
