---
import MainLayout from "../layouts/mainLayout.astro";
---

<MainLayout 
title={"Dylan Mwakasekele's Projects"} 
seoTitle={"Projects with c, c++,java, python"} 
seoDescription={"2nd Year BSc Computing Science Student at the University of Dundee. Projects will be about graphics programming mainly"}>

<div class="w-8/12 lg:w-6/12 mx-auto">
    <h1 class="text-5xl md:text-6xl text-center my-2">Projects 😎</h1>
    <div class="grid md:grid-cols-2 gap-2">
        <a href="/projects/proj1"><img class="rounded" src="" width="300px" height="300px"/></a>
        <a href="/projects/proj2"><img class="rounded" src="" width="300px" height="300px"/></a>
        <a href="/projects/proj3"><img class="rounded" src="" width="300px" height="300px"/></a>
        <a href="/projects/proj4"><img class="rounded" src="" width="300px" height="300px"/></a>
    </div>
</div>

<div id="typed-strings">
    <p>I should probably do something...</p>
</div>

<div class="text-center mt-6"><span id="typed"></span></div>
</MainLayout>

<script>
    import Typed from "typed.js"
    var typed = new Typed('#typed', {
        stringsElement: '#typed-strings',
        typeSpeed: 80,
        loop: false
        });  
</script>