---

---

<footer class="text-center mt-auto py-4">
    <small>Copyright &copy; <span id="copyright"></span>2024 | All rights resevered | <a href="https://www.linkedin.com/in/dylanmwakasekele/"><i class="fa-brands fa-linkedin"></i></a> <a href="https://github.com/Mwaka0"><i class="fa-brands fa-github"></i></a></small>
</footer>

<script src="https://kit.fontawesome.com/c0875de0ad.js" crossorigin="anonymous"></script>
<!-- 
<script>
    document.querySelector('#copyright').textContent = new Date().getFullYear.toString();
</script> -->
