---

---

<footer class="text-center mt-auto py-4">
    <small>Copyright &copy; <span id="copyright"></span>2024 | All rights resevered | 
        <a href="https://www.linkedin.com/in/dylanmwakasekele/"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/Mwaka0"><i class="fa-brands fa-github"></i></a>
        <a href="mailto:dylanmwakasekele@gmail.com"><i class="fa-solid fa-envelope"></i></a>
        <a href="https://filedn.eu/luG2phaW5iCRc0SAq2iWSAm/Dylanmwakasekele.com/DylanMwakasekeleCV.pdf" download><i class="fa-solid fa-file-pdf"></i></a>
    </small>
</footer>

<script src="https://kit.fontawesome.com/c0875de0ad.js" crossorigin="anonymous"></script>
<!-- 
<script>
    document.querySelector('#copyright').textContent = new Date().getFullYear.toString();
</script> -->
